.card-holder{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 250px;
}
.img-holder{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    position: relative;
}
.circle-one{
    transform: translateY(40%);
    background-color: aqua;
    border-radius: 100%;
    /* background-clip: ; */
}
.circle-two{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: thin;
 
}
.img-holder img{
    width: 100%;
    height: auto;
    transform: rotate(-45deg);
    transform: scale(1.4);
    z-index: 5;
}
.data-holder{
    width: 100%;
    height: 70%;
    background-image: linear-gradient(to bottom,#BFDDFF,#82C8FF);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    line-height: 40px;
    border-radius: 5px;
}
/* .data-holder-circle{
    background-color: tomato;
    height: 110px;
    width: 110px;
    border-radius: 100%;
    position: absolute;
    transform: translateY(-140%);
    

} */
.data-holder p{
    float: right;
}
.data-holder img{
    height: 30px;
    width: auto;
    background-color: white;
    padding: 3px;
    border-radius: 100%;
}