.Card-Arranger{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    color: black;
}
.Gallerydisplayimg{
    border-radius: 20px;
    padding: 10px;
    max-width: 400px;
    min-width: 200px;
    height: auto;
    transition: ease-in-out 200ms;
    /* box-sizing: 50px 50px 50px black; */
}
.Gallerydisplayimg:hover,
.Gallerydisplayimg:active{
    transform: scale(0.9);
}